.users {
    display: flex; 
    justify-content: center;
    justify-items: center;
    font-size: 24px;
  }

  table {
    width: 100%;
  }
  .container{
    margin:5px
}

.form{
    display: flex;
}
  .spacer {
    flex: 1 1 auto;
  }

  .iconButton{
      margin-top:15px;
      align-items: center;
      justify-content: center;
      height: 50%;
  }

  .mat-column-delete {
    width: 32px;
    text-align: center;
    font-weight: bold;
  }